<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/navbar.ejs'); %>
    <h1>Bem vindo a outro arquivo HTML</h1>
    <hr>
    
    
    
</body>
<%- include('partials/footer.ejs'); %>

