<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guia perguntas EJS</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/img/guia.png">
    </a>
  </nav>
  <div class="container">
    <div class="card" id="formulario-pergunta">
        <div class="card-header">
            <h1>Realizar perguntas</h1>
        </div>
        <div class="card-body">
              <form>
              <label>Título</label>
              <input type="text" placeholder="titulo" class="form-control">
              <label>Descrição</label>
              <textarea placeholder="Descreva sua pergunta aqui" class="form-control"></textarea>
              <br>
              <button class="btn btn-dark">Perguntar</button>
            </form>
        </div>
    </div>
    <!-- <h1>Testando fora do container</h1> -->
    
        
</div>

  </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src='/js/bootstrap.min.js'></script>
</html>
